* {
    margin: 0;
    border-radius: 10px;
}
.container {
    display: grid;
    grid-template-columns:repeat(3, auto);
    font-size: 15px; 
    text-align: center;
    width: 900px;
    height: 500px;
    margin-left: 30px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 5px;
}
:root {
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white : hsl(0, 0%, 100%, 0.75);
}
 img {
    width: 45px;
    height: 25px;
    padding-top: 35px;
}
.imge {
    display: block;
    margin-left: 45px;
}
.sedans {
    color: var(--Transparent-white);
    background-color: var(--Bright-orange);
    color: white;
    width: calc((900px/3));
    height: 500px;
}
.suvs {
    color: var(--Transparent-white);
    background-color: var(--Dark-cyan);
    color: white;
    width: calc((900px/3));
    height: 500px;
}
.luxury {
    color: var(--Transparent-white);
    background-color: var(--Very-dark-cyan);
    color: white;
    width: calc((900px/3));
    height: 500px;
}
.bu {
    border-radius: 25px;
    height: 45px;
    width: 155px;
    border-color: white;
    color: var(--Transparent-white);
    font-size: 15px;
    margin-left: -35px;
    border-color: var(--Transparent-white);
    margin-top: 75px;
}

.luxury button {
    background-color: white;
        color: var(--Very-dark-cyan);
    font-weight: 500;
}
.suvs button {
    background-color: white;
    color: var(--Dark-cyan);
    font-weight: 500;
 
}
.sedans button {
    background-color: white;
        color: var(--Bright-orange);
    font-weight: 500;
}
h2 {
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;   
    
}
.sedans h2 {
    margin-left: -110px;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}
.suvs h2 {
    margin-left: -150px;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}
.luxury h2 {
    margin-left: -110px;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}
p {
    color: var(--Transparent-white);
    margin-left: 45px;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 200px;
    font-family: 'Rubik', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
button:hover {
    cursor:pointer;   
}
@media (min-width: 1000px) and (max-width: 1440px) 
 {.container 
    {
        width: 150px;
     }
    }
@media (max-width: 375px) 
 {.container 
    {
        display: block;
    
     }
  .sedans button {
        background-color: white;
        color: var(--Bright-orange);
     }
     .suvs button {
        background-color: white;
        color: var(--Dark-cyan);
     }
     .luxury button {
        background-color: white;
        color: var(--Very-dark-cyan);
     }
    }
    